.logo1 {
    width: 25%;
    height: ;
}

#carouselExampleIndicators {
    height: 350px;
}

#carouselExampleIndicators .carousel-item img {
    height: 350px;
}

#postheading figure {
    margin-bottom: 0px;

}

#postheading .card-body {
    padding-top: 0px;
}

.pdfsec .db {
    height: 24px;
    padding: 0px 11px;
    font-size: 14px;
}
#formsuf .col-md-4{

}
.sufauto{
    
}
body{background: #d5dbdc;}